.form-text-label {
    background-color: #1d2025;
    padding: 10px;
    text-align: left;
    margin-bottom: 15px;
    border-radius: 2px;
}

.form-text-label a {
    text-decoration: none;
}

#home {
    padding-top: 10rem;
    padding-bottom: 7.5rem;
}

#signin_btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-group {
    text-align: left;
}

.form-group:last-child {
    text-align: center;
}

#user-profile #btn-change-password {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}


.form-group .iti {
    display: block;
}

.has-error .iti--allow-dropdown .iti__flag-container {
    height: 40px;
}

#forgot-form, #reset-password-form {
    color: #FFFFFF;
}

.modal-header .modal-title {
    font-weight: 700;
}

.modal-content {
    background-color: #2c3136;
}

